<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="5">
        
    </table>
</body>

<script>
    response = $.parseJSON(response);
    $(function() {
    $.each(response, function(i, item) {
        var $tr = $('<tr>').append(
            $('<td>').text(item.mahasiswa),
            $('<td>').text(item.mata_kuliah),
            $('<td>').text(item.nilai),
        ); 
        console.log($tr.wrap('<p>').html());
    });
});
</script>
</html>